*.retry

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.logs
*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.dist

